[2021-01-22 14:51] AnHeuermann commented on #909
Na, that doesn't seem to be the issue. I tried the openmodelica jupyter container as well.
But it really isn't a docker problem.

[2021-01-22 15:08] arun3688 commented on #909
@AnHeuermann Ok, What about directly loading the DLLs in the jupyter notebook, does it work with the python3 kernel

[code]

[2021-01-22 18:49] kabdelhak commented on #909
I tried it on my machine:
[code]

[2021-01-22 19:10] arun3688 commented on #909
Hi karim,

It says that dll path is not found, Can you load the dll with full path , I
think in linux it must be .so file, so it should be "libOMSimulator.so"

ctypes.CDLL("/home/libOMSimulator.so")
regards
arun

On Fri, Jan 22, 2021 at 7:49 PM kabdelhak <notifications@github.com> wrote:

[2021-01-25 10:26] AnHeuermann commented on #909
Well this is something:

Running Python3.8.5 on my WSL Ubuntu Focal and trying to load `libOMSimulator.lib` from OMSimulator compiled as standalone version:
[code]
Loading it from `OpenModelica/build/lib/OMSimulator/x86_64-linux-gnu/omc/libOMSimulator.so` doesn't change it.

[2021-01-25 10:56] arun3688 commented on #909
@AnHeuermann  It should be `oms.oms_getVersion()`

[code]

[2021-01-25 11:03] AnHeuermann commented on #909
Ah okay, but then it is not looking very correct:
[code]

[2021-01-25 11:03] AnHeuermann commented on #909
But I think now I could finally reproduce the error from the jupyter notebook in a regular python shell:

[code]

But for whatever reason I can't remove the call with the typo: `libs.printf`. Then I won't get the `std::bad_cast` error.

[2021-01-25 11:03] sjoelund commented on #909
Even if that's the case... Why would you allow it to crash?

[2021-01-25 11:04] jph-tavella opened #913 "Add some stats on SSP model executions"
When the user runs a SSP model containing several FMUs, some stats on this execution should be interesting for him/her to tune the model.
According to the FMI standard, some states are defined in the state machine of the FMI for Co-Simulation.
Main states are:
- Loading
- Initialization
- stepping
- termination

It should be interesting to calculate and report the time spent on each of these state

[2021-01-25 12:24] AnHeuermann commented on #909
I have rebuild OMSimulator to use clang/clang++ instead of gcc/g++ and disabled TLM to rule out more error sources.

I don't know how ctypes is working but something is going really wrong:
[code]

I can load `libOMSimulator.so`, call `getVersion()` and get a result.
But when I make any mistake, e.g. call some random `rgojhghjkfgkjh` I get `free(): invalid pointer` and Python will crash.

GDB outpu

[2021-01-25 16:06] AnHeuermann commented on #909
I tried with an older Python version 3.6.9 on Ubuntu Bionic and still have the same issue.
Also with conda (Anaconda) it is not working.

[2021-01-26 11:12] AnHeuermann commented on #909
I tried valgrind on
[code]

`$valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes --keep-debuginfo=yes --verbose --log-file=valgrind-out.txt python3 runTest.py`

I get several outputs like
[code]
and
[code]
as well as
[code]

**The full output:**
[valgrind-out.txt](https://github.com/OpenModelica/OMSimulator/files/5872946/valgrind-out.txt)

I compiled with `-g -O0` but valgrind is

[2021-01-26 11:15] lochel commented on #909
@sjoelund can you help us getting it running on linux?

[2021-01-26 11:25] AnHeuermann commented on #909
I tried to load the library we generated some time ago and indeed I can load `libOMSimulatorLib.so` from jupyter notebook for v2.0.0:
[code]

So at some point in time we had it working and now it is broken. So I will go in big steps until I can roughly find the commit where it breaks. Not really a smart way to do it but whatever works is fine for me.

[2021-01-26 11:39] sjoelund commented on #909
https://git-scm.com/docs/git-bisect

[2021-01-26 12:39] AnHeuermann commented on #909
Cool. I started to do a bisection myself but without git. And had already computed that for 1260 commits I will need at most 11 steps. But I guess I'll stick to the manual approach for now.

And  after  11 steps 🎉

Can someone please confirm that running
[code]
will work with https://github.com/OpenModelica/OMSimulator/commit/9b580855a6927f8b305a11d4d3f92d54ded310d5 but fails with https://github.c

[2021-01-26 15:59] AnHeuermann commented on #909
In https://github.com/OpenModelica/OMSimulator/commit/c5b9cc18ee9705fa17afc91d4cd5b168a292835c#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aR32 and https://github.com/OpenModelica/OMSimulator/commit/c5b9cc18ee9705fa17afc91d4cd5b168a292835c#diff-21fefb87b079d5bf275ca3b732b18674196c71bc4ca9c2ed05f94d248299ab58L144-L145
the compilation process was changed to statically link wi

[2021-01-27 11:29] AnHeuermann commented on #909
<img width="858" alt="jupyter" src="https://user-images.githubusercontent.com/38031952/105984997-2dd40880-609b-11eb-9054-6a06ad8abd78.png">

Success 😄
Thanks for the help everyone

[2021-01-27 11:29] #909 closed

[2021-01-27 14:10] AnHeuermann opened #917 "Random test failures in PRs and on the master"
### Description

We seem to have some tests in our testsuite that are failing at random in our PRs.
I looked through some of my last PRs and found the following tests that are failing and passing on different runs of Jenkins without any changes to the code bases:

PR-916, commit e6f58b8
- `build / linux64-asan / test / import_parameter_mapping_inline.lua – OMSimulator`
- `build / mingw64-gcc / tes

[2021-01-27 15:07] AnHeuermann commented on #917
And of course I can't reproduce the exact error with asan:
[code]

Only `tlm3d.lua` is failing (or to slow).

But if I add `ulimit -v 6291456` I start to get problems. Of course I don't have 6GB memory per processor available, but could it be that the limit on memory per processor is a problem?

We are only doing it for ASAN:
[code]

Googling reveals there are a lot of issues when using AddressSan

[2021-01-27 15:15] AnHeuermann commented on #917
My next best theory: We are running out of memory at https://github.com/OpenModelica/OMSimulator/blob/master/src/OMSimulatorLib/MatVer4.cpp#L93
and the Jenkins test reports:
[code]

[2021-01-27 15:26] sjoelund commented on #917
If you think it's due to running out of memory, increase it to 10GB or so. If it stops crashing at that location, perhaps you are right? But that might also mean that we aren't checking if malloc returns `0` everywhere...

[2021-01-27 15:29] AnHeuermann commented on #917
On what machines does that `linux-asan` pipeline run? Are they all the same? Maybe the test fails only on a specific subset of that machines. I should to check that as well.

[2021-01-27 20:14] lochel opened #919 "System input connector can only be connected to one component input connector"
### Description

The screenshot below shows an error message when connecting a system input connector can to a second component input connector.

### Expected behavior

It should be possible to connect a system input connector to several sub-model input connectors.

### Screenshots

![image](https://user-images.githubusercontent.com/8457302/106047670-2e44c180-60e4-11eb-8b27-50e86010d30d.png)

###

[2021-01-28 07:52] sjoelund commented on #917
Any machine with the `linux` label.

[2021-01-28 11:17] AnHeuermann opened #924 "OMSimulator with Wine broken"
### Description

The OMSimulator Windows binary can't be run with Wine any more.
See https://test.openmodelica.org/jenkins/job/Sandbox/job/Andreas/job/OMSimulator-FMI-Cross-Check/.

The commit introducing this bug is https://github.com/OpenModelica/OMSimulator/commit/434ccf98a86a04b821575dd43092c8693a22bdad.

### Steps to reproduce the behavior
Just run a Linux shell with

[code]

Output:
[code]

[2021-01-28 15:20] lochel opened #926 "API for renaming only implemented for model identifiers"
It seems that the API to rename components is not implemented, see OpenModelica/OpenModelica#7110

[2021-01-28 18:01] #924 closed

[2021-01-28 20:30] AnHeuermann commented on #917
Maybe #918 did something, maybe not.
Next we should look at `build / mingw64-gcc / test / Enumeration.lua – OMSimulator`. It is failing on the master every now and then.

[2021-01-29 10:51] AnHeuermann commented on #917
And on `build / mingw64-gcc / test / import_parameter_mapping_inline.lua – OMSimulator`

[2021-01-29 16:05] AnHeuermann commented on #739
I created a PR for OMSimulator v2.1.1 at https://github.com/modelica/fmi-cross-check/pull/106.

Let's see if the FMI cross check can repair it's CI so the PR will be tested eventually.

[2021-01-31 08:55] lochel commented on #919
This is fixed :hurray:

[2021-01-31 08:55] #919 closed

[2021-02-04 15:34] lochel commented on #917
[build / linux64-asan / test / tlm1d.lua – tlm](https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OMSimulator/detail/PR-931/4/tests)

[code]

[2021-02-09 17:30] #926 closed

[2021-02-10 12:56] lochel commented on #808
@AnHeuermann What is the status?

[2021-02-10 12:56] lochel commented on #812
@AnHeuermann What is the status?

[2021-02-10 12:59] AnHeuermann commented on #812
Kinsol was added with c8ec782983acc160271c0368afeb4b70ba861463. We need to verify and test some more, but this issue can be closed.

[2021-02-10 12:59] #812 closed

[2021-02-10 13:03] AnHeuermann commented on #808
I should re-run my example. But it is not really a good one.
We still have asserts and are not treating the returned error codes in a good way. Ideally it should be possible for OMSimulator to solve this loop, even though the initial iteration will trigger the asserts because `5-a*a + b*b<0`.

[2021-02-11 13:02] robha67 opened #942 "Automatic unit conversion (SSP)"
Functionality for automated conversion of units between SSV parameters and FMU parameters.

If possible, the conversion should be stored in the SSD. Otherwise, the SSP is unusable outside of OMSimulator. I can't find that this is allowed in the specification. Maybe there is some workaround? Could a "conversion model" be added to the the SSP via some OMSimulator API command? Could maybe a signal di

[2021-02-12 10:22] lochel opened #945 "Import/export of snapshots"
### Purpose

For proper text view/editing in OMEdit an extension of the snapshot functionality is required. It is necessary to handle complete and partial snapshots. It is also necessary to export/import descriptions of systems and components.

### import snapshot

New function signature:
- [x] `oms_status_enu_t oms_importSnapshot(const char* ex_cref, const char* snapshot);`

The import function c

[2021-02-12 11:37] AnHeuermann commented on #908
I'll see if I can reproduce your issue in a docker with CentOS7.

[2021-02-12 12:21] lochel commented on #908
I can confirm that there is some linking problem when executing the commands as stated above:

[code]

Defining `OMBUILDDIR` already before configuring the repository solves that issue at least:
[code]

Everything got installed into `/abs/path/to/build` and I hadn't to create any symlinks or other workarounds to execute OMSimulator.

I couldn't test the other issue related to "non-shared gcc-4.8.5

[2021-02-15 16:04] adeas31 opened #947 "lib/OMSimulator directory contains duplicated files"
### Description

After installing the latest OpenModelica nightly build I noticed that there are around 700 MB of files duplicated inside `lib/OMSimulator` folder.

### Steps to reproduce the behavior

Install OpenModelica on Windows and take a look at lib/OMSimulator folder. The same files are also present in the bin folder as well.

### Expected behavior

lib/OMSimulator should only contain the

[2021-02-16 09:55] AnHeuermann opened #949 "Add getSSPInfo and add platforms to"
**Is your feature request related to a problem? Please describe.**
I'd like to have an automated check in OMEdit if an SSP or FMU can run on my platform. For that two things would be needed:
1. Adding information about available platforms to [getFMUInfo](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omsimulator.html#getfmuinfo).
2. Adding a `getSSPinfo` similar to `getFMUInfo`.

**Des

[2021-02-16 10:09] lochel commented on #949
I agree to add such information to `oms_fmu_info_t`. Maybe just as a comma separated string with all platforms. `oms_fmi_platforms_t` from your proposal seems unnecessary complicated.

[2021-02-16 10:13] AnHeuermann commented on #949
It is easy to use. If I know I want win64 binaries I can just do
[code]
Otherwise I would need to free memory for `cahr*` strings and parse all of the list to get the info I want.

[2021-02-16 10:15] lochel commented on #947
Unfortunately, we cannot just delete the duplicated files, because we depend on the path:

![image](https://user-images.githubusercontent.com/8457302/108049221-47d48b80-7048-11eb-8e5b-e8f89b1c98e7.png)

@AnHeuermann Do you see a way to solve this issue?

[2021-02-16 10:28] AnHeuermann commented on #908
I used the dockerfile from .CI/centos7 to run:

[code]

Then everything was installed to `/OMSimulatorPath/to/build/bin/OMSimulator`. So indeed the solution is to just specify `OMBUILDDIR` before starting configure.

Since I can't reproduce the error (or @lochel's solution is working) I'm closing this issue. If there are still problems please reopen this issue.

[2021-02-16 10:28] #908 closed

[2021-02-16 10:31] AnHeuermann commented on #947
We could add a bunch of symbolic links

[2021-02-16 10:40] lochel commented on #947
Changing the path when compiling from the super project sounds like the right thing to do 👍

[2021-02-16 12:07] adeas31 commented on #947
For sure keep the binaries needed by OMSimulator but why there are folders for Qt plugins? I think the problem is you just make a copy of bin folder https://github.com/OpenModelica/OMSimulator/blob/master/src/OMSimulatorPython/CMakeLists.txt#L29

[2021-02-16 13:50] robha67 opened #951 "Functionality to update exsting SSV file with paramter values"
Functionality enabling the modification of, and the generation of, separate SSV files. The functionality should allow the user to export parameter values specified via, for example, OMS.setReal without generating a complete SSP.
Then, it should be possible to, via some API command, to invoke such an SSV file on an existing SSP i.e. add it to the resource folder and point to it in the SSD. When add

[2021-02-17 05:25] lochel commented on #949
The memory management isn't a problem. It will be allocated when creating a FMU object in OMSimulator and only freed when the fmu is deleted from the OMSimulator model.

Your proposal contains strings to catch all the not-standardized (and other standardized platforms). Mixing two representations for the platforms looks to me a bit complicated.

Instead, we could just use a comma separated string

[2021-02-17 09:49] lochel commented on #917
https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OMSimulator/detail/PR-953/1/tests
[code]

[2021-02-17 10:48] arun3688 commented on #951
@robha67 I think the first feature, generating of SSV files with update start values, should look something like below

[code]
The second feature , having a new API to insert the new ssv file in the `ssp` package is basically unzipping and zipping and i guess this can be done by yourself or we can do it via an API also @lochel  can you comment on this?

And the third feature, switching between dif

[2021-02-17 11:53] robha67 commented on #951
1)

**_I think the first feature, generating of SSV files with update start values, should look something like below

oms_exportSSVTemplate("model") // list of all default start values in modeldescription.xml
oms_setReal("model.root.A", 10) // set new start values
oms_setReal("model.root.B", 20) // set new start values
oms_exportSSVTemplate("model")  // should update the new start values in the ge

[2021-02-19 08:50] lochel commented on #917
https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OMSimulator/detail/PR-957/3/tests
[code]

[2021-02-23 14:02] lochel commented on #917
https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OMSimulator/detail/PR-963/1/tests

[code]

[2021-02-25 22:05] lochel commented on #917
https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OMSimulator/detail/PR-966/8/tests
[code]

[2021-02-26 09:56] lochel commented on #947
@adeas31 can this be closed or do we have to improve it further?

[2021-02-26 10:00] lochel commented on #913
@jph-tavella I also think those stats would be useful. Stay tuned 😀

[2021-02-26 10:05] lochel commented on #891
I am pretty sure that this has something to do with the initialization issues in Dymola FMUs. I don't think there is anything we can do about it. The startTime works just fine with all models I can test. Please reopen this issue if you can provide an example that we can use for testing.

[2021-02-26 10:05] #891 closed

[2021-02-26 10:10] lochel commented on #889
@AnHeuermann is it still on your list? 👼

[2021-02-26 10:14] lochel commented on #739
@AnHeuermann, @chrbertsch what more do we have to do? OMSimulator is still not listed in the fmi cross-check results.

[2021-02-26 10:23] chrbertsch commented on #739
@t-sommer: Do you have an idea, why OMsimulator does not get listed after the successful merge of https://github.com/modelica/fmi-cross-check/pull/106? Do you have to trigger a re-generation of the tables?

[2021-02-26 10:39] adeas31 commented on #947
Is better than before but would be nice to get rid of empty directories as well.

[2021-02-26 10:43] AnHeuermann commented on #889
This one dropped off my list. Since there is a working way.
We could probably do it in a few hours though, but at the moment I'm busy with something else.

[2021-02-26 10:46] lochel commented on #947
I didn't find a good solution to avoid the empty directories. @AnHeuermann do you have a idea for it?

[2021-02-26 10:47] AnHeuermann commented on #947
We can just call `rm` on them in the Makefile calling the CMake stuff. Not a pretty solution but should work.

[2021-02-26 11:32] adeas31 commented on #947
@AnHeuermann solution is not so bad.

[2021-03-01 08:47] lochel commented on #346
This is addressed by the new simulation server. The next step will be to provide live results while simulating.

[2021-03-05 07:52] arun3688 commented on #945
this issue is fixed with https://github.com/OpenModelica/OMSimulator/pull/977

[2021-03-05 07:52] #945 closed

[2021-03-06 19:36] lochel commented on #942
What sort of conversions do you have in mind? Millimetre to metre? Or something more complicated?

[2021-03-19 13:37] AnHeuermann opened #989 "updateSignals is slow"
### Description

When profiling OMSimulator with `gprof` I noticed that `oms::ResultWriter::updateSignal(unsigned int, oms::SignalValue_t)` and `oms::ComponentFMUME::updateSignals(oms::ResultWriter&)` are taking up a significant portion of the total simulation time (each around 7%).
A way to improve it is to not call `fmi2GetReal` for each variable alone but to call it with an array of all variabl

[2021-03-20 04:34] lochel commented on #989
I am still not convinced that it will be much faster to call `fmi2GetReal` with an array, but let's hope you are right. Will be interessting to see a comparison ☺️

[2021-03-23 16:04] AnHeuermann commented on #989
I did a small comparison of OMSimulator between the master branch and PR #993 for `ScalableTestSuite.Elementary.ParameterArrays.ScaledExperiments.Table_N_280_M_280` with `--tolerance=1e-8 --intervals=1000 --ignoreInitialUnknowns=true`.

After three runs each I can say that there is no big difference between the two. The new version is slightly faster (not a full second) with a total simulation tim

[2021-03-24 08:15] lochel opened #994 "Wall time is not available from the API"
There is a flag to include the wall time information in the result file, but the same information isn't available from the API.

This should be implemented:

Requested by @lenaRB

[2021-03-25 10:29] arun3688 commented on #907
@robha67 This PR https://github.com/OpenModelica/OMSimulator/pull/996 fixes the ignoreInitialUnkowns problems

[2021-03-30 10:15] robha67 opened #1000 "Missinformative error message when reading SSV"
### Description
If a SSM file is used to map parameters expressed in a SSV to a composite model, then the user is prompted with an error message if the parameter name in the SSV file does not exist in the FMU or there is not a mapping available in the SSM. Should this not be a warning instead? The simulation progressess with the default parameter values in such a case.

Mvh
Robert

@arun3688

[2021-03-30 10:56] arun3688 commented on #1000
@robha67 that is true, if a parameter name in the `ssv` file does not have any mapping in the `ssm` file, then according to the specification the default value is applied and we are currently doing that, But the problem with SAAB test cases are the `ssv` file contains name that does not belong to any system or component in the ssp, and in such cases we could not apply the default values and that i

[2021-03-30 12:17] arun3688 commented on #1000
@robha67  adding to my previous comment, let us say we do not have the mapping (i.e) `ssm` file and we only have the `ssv` file then for the names present in the `ssv` file that do not belong to any system or component , we report errors, but we could also generate warning instead @lochel  can you comment on this

[2021-04-06 12:03] robha67 opened #1003 "Discrepancy between result csv and mat files"
### Description
Parameters seem to be missing from result files when stored as csv.

### Steps to reproduce the behavior

Simulate the "Saab Embrace use-case" in the test-suite. First, save the results in mat file format and then in csv file format.
Look for the parameter model.root.ECS_SW.PID.k in both result files. If in line with our observations, it is only included in the mat file.

version =

[2021-04-06 12:09] arun3688 commented on #1003
@robha67 the parameters are not exported by default to csv file, we have to use the flag `addParametersToCSV = true` something like below

`oms.setCommandLineOption("--suppressPath=true --skipCSVHeader=true --addParametersToCSV=true")
`

[2021-04-11 21:01] AHaumer opened #1004 "SImulation fails with Dassl, but succeeds with imprungekutta"
Version 1.17 64 bit on Windows 10 64 bit.
During my lectures, I'm working on an averaging model of an H-bridge. Seems to work fine, but:
If you set the enable-input = true during the simulation, the simulation fails with solver = Dassl,
but with solver = imprungekutta you get a plausible result.
I've enclosed an example for your convenience.

[BugReport.zip](https://github.com/OpenModelica/OMSimul

[2021-04-12 06:30] lochel commented on #1004
I moved the issue to the OpenModelica (omc) project. This is the OMSimulator repository for FMI and SSP-based simulations.

[2021-04-12 06:30] #1004 closed

[2021-04-12 06:37] lochel commented on #1003
@arun3688 is right, csv files do not include parameters by default, because it blows up the result file size unproportional. If you really want to have parameters in the csv file, you can use the flag mentioned by Arun. @robha67, please reopen this issue if it doesn't work for you.

[2021-04-12 06:37] #1003 closed

[2021-04-12 06:39] lochel commented on #989
I'll close it for now. We might give it another go someday, but it isn't as crucial as anticipated.

[2021-04-12 06:39] #989 closed

[2021-04-14 18:40] lochel commented on #346
Still work in progress: The simulation results are received in OMEdit, but not automatically updated.

[2021-04-14 18:43] lochel commented on #824
@robha67 Does it work as expected or do we have to improve it somehow?

[2021-04-16 06:36] max-privato opened #1007 "SSP use from OMEdit causes Infinite loop while showing messages"
### Description

I have a Work-in-progress ssp.
When I run it OMEdit enters an infinite loop in showing error messages and to see them I must get a screen print and copy somewhere.
Even if the model has mistakes, this behaviour is unexpected.

Sorry for not creating a MWE, but I don't have time now. In case of need, I could try next week.

### Steps to reproduce the behavior

Load ErrorLoop.ssp an

[2021-04-16 06:50] lochel commented on #1007
@arun3688 can you please test it on Windows?

[2021-04-16 07:30] arun3688 commented on #1007
@lochel I tested and it is running into infinite loop with the following error

[code]

[2021-04-16 08:06] arun3688 commented on #1007
@max-privato Could you change the solver to `euler`  and test it, It is working for me

![image](https://user-images.githubusercontent.com/6870949/114992509-21419e00-9e9b-11eb-80b7-31e1a966ddb6.png)

As a workaround you can continue to use `Euler` solver and we try to fix the problem with `cvode`

[2021-04-16 08:07] arun3688 commented on #1007
@AnHeuermann can you look into the error messages with `cvode` solver

[2021-04-16 16:29] max-privato commented on #1007
ok. Thank you.

[2021-04-17 06:23] max-privato opened #1008 "Renaming SSP crashes OMEdit"
### Steps to reproduce the behavior
- Load test1
- right-click on  Gru_Test3 and choose rename
- try to rename into Gru
- => OMEdit crashes

### Version and OS
Tested on 1,18,0-dev 224 64 bit
Win 10

- Version:
- OS: [e.g. Win10, 64bit]

Test file:
[Test1.zip](https://github.com/OpenModelica/OMSimulator/files/6328716/Test1.zip)

[2021-04-17 08:05] lochel commented on #1008
Thanks for the report together with an example. I don't quite know why it fails, but it might be related to the connectors in the Root system. Renaming works fine if I first remove those. I will investigate more later today.

[2021-04-18 05:16] lochel commented on #1008
The problem is connected to the internal data management within OMSimulator. It has nothing to do with OMEdit. The following lua script can be used for debugging:

[code]

[2021-04-22 09:54] AnHeuermann commented on #1007
From what I understand from the CVODE sources the input consistency checks for the first step are failing because the initial error weights have a component equal to zero.

I can see that we have
[code]

With scalar tolerances (1e-4 , 1e-6) the simulation runs successfully.

So why are the tolerances 0? Because some nominals are `0`, which are used to comupte the absolute tolerance.
[code]
So the

[2021-04-22 09:56] AnHeuermann commented on #1007
I could of course add something like
[code]
and only issue a warning instead of a hard error.

[2021-04-22 10:39] arun3688 commented on #1008
@max-privato The issue is fixed with this commit https://github.com/OpenModelica/OMSimulator/pull/1009, you can verify it

[2021-04-22 10:58] lochel commented on #1007
Thanks @AnHeuermann. The new error messages state the issue rather clear. Should we add a flag to use the default scalar tolerances in case of illegal nominal values?

[2021-04-22 11:31] AnHeuermann commented on #1007
That could work for this issue but has the potential to crash with strange errors for other models. Having a nominal of `0` is a problem. The absolute tolerance doesn't matter that much.

We could set nominal values to `1` for the problematic ones and continue with that. But of course if the FMU is expecting them to be different we could run into problems.
I can implement that if you want.

[2021-04-22 12:27] lochel commented on #1007
I agree with your argumentation, so no need for further changes and I'll close this issue. @max-privato please feel free to reopen the issue if there is more to do.

[2021-04-22 12:27] #1007 closed

[2021-04-22 12:49] robha67 opened #1011 "Connecting integer outputs (in modelica connector class) to enum input"
### Description

OMsimulator reports the folowing error when a integer output on the form "<connectorName>.<signalName>" is connected to an enum:

"Type mismatch in connection:..."

### Steps to reproduce the behavior
Checkout "Embrace_trunk\WP3\D3.0\Saab\IntToEnumExample" from the embrace repository.
Run the file "SSP_Export.py" available in the folder mentioned above.

### Version and OS

Linux,

[2021-04-22 14:49] robha67 commented on #1011
It seems like the connection works if i change the order of the signals i.e
addConnection("model.root.AdaptionUnit.sWsignals.Aircraft_State","model.root.ECS_SW.Input.Aircraft_State"): this works
addConnection("model.root.ECS_SW.Input.Aircraft_State","model.root.AdaptionUnit.sWsignals.Aircraft_State"): this produces the error above

The order does not matter for reals that are connected in the same

[2021-04-23 07:12] max-privato commented on #1007
In fmi2GetNominalsOfContinuousStates from FMI Specification 3.2.2
I read:

 _If the FMU does not have information about the nominal value of a continuous state i, a nominal value x_nominal[i] = 1.0 should be returned. Note that it is required that x_nominal[i] > 0.0_

 The first part of the sentence implies that an FMU can be without nominal values of a continuous state and in this case 1 must be

[2021-04-23 11:31] lochel commented on #1011
@robha67 thanks for the example. I was now able to make a minimal example for debugging, see OpenModelica/OpenModelica#7404.

[2021-04-24 08:20] max-privato opened #1013 "Follow-up to ticket #1007"
### Description

Sorry for opening a new ticket on the same issue as #1007 , but I want to comment on that ticket, and I'm not sure that comments on closed tickets get read.
Moreover, the system does not enable me to reopen the ticket.

Ticket #1007 was closed because of
fmi2GetNominalsOfContinuousStates from FMI Specification 3.2.2.

This part of specification reads:
_If the FMU does not have inf

[2021-04-25 17:24] max-privato commented on #1008
I tested with 1.18.0-dev-239 win 64 bit (24 April) and I still had a crash

[2021-04-25 17:43] arun3688 commented on #1008
@max-privato The fix is not merged with OpenModelica master yet, so you have to wait a little bit more

[2021-04-25 19:59] lochel commented on #1008
Sorry for the delay. We will merge it within a few days and let you know.

[2021-04-26 10:24] max-privato opened #1014 "Renaming an FMU makes an SSP unusable"
### Description

I just wanted to change a the
 name of a model inside an SSP. The model, presioudly working, now stops with an error

### Steps to reproduce the behavior
**1) load TestSSP.ssp in OMEdit**
**2) run it: it simulates well**
log:
python F:/AllOMs/OM1.18.0-dev-239-64bit/share/OMSimulator/scripts/OMSimulatorServer.py --model=C:/Users/Massimo/AppData/Local/Temp/OpenModelica/OMEdit//TestS

[2021-04-26 11:13] adeas31 commented on #1014
@lochel and @arun3688 is this another rename bug or is something to do with OMEdit export of ssp before simulation?

[2021-04-26 11:15] arun3688 commented on #1014
@adeas31 I tested it it does not crash in OMEdit, I think submodule `OMSimulator` needs to be updated with OpenModelica to get these fixes

[2021-04-26 11:57] max-privato opened #1015 "Infinite loop and crashes"
### Description
There is already a ticket showing an infinite loop: #1007.
Despite it has been closed, the infinite loop is still there.
This ticket is a bit different from 1007, since in this case stopping the simulation causes an OMEdit crash.

### Steps to reproduce the behavior
1) load in OMEdit LoopAndCrash.ssp
2) run the ssp: an infinite message loop occurs
3) try to stop the simulation clic

[2021-04-26 11:57] lochel commented on #1013
We try to respond to all comments, but a new ticket is obviously more visible. Sorry that we missed your comment.

I think the specification talks in this particular case about the exporting tool, and not the importing tool. However, it would be good to raise this issue in the FMI specification group. We can easily adapt our import if we get confirmation from the FMI specification group.

The infi

[2021-04-26 12:54] lochel commented on #1007
The next nightly build should contain all the required changes.

[2021-04-26 13:04] AnHeuermann commented on #1013
I think that the function should just return `nominals=1` if the FMU has no nominals. It's easy to implement and quiet fool proof.

Hard to tell what other importing tools are doing, but it could be that they simply don't use nominal values.

But as @lochel said, please check with the FMI specification group. Our interpretation could of course be wrong.

[2021-04-26 13:37] AnHeuermann commented on #1013
I discussed with @lochel and opened a ticket on the FMI standard: https://github.com/modelica/fmi-standard/issues/1420
We will see what interpretation is correct.

[2021-04-26 13:45] lochel commented on #1015
This should be fixed. Please wait for the next nightly build and test it again 😃

[2021-04-26 13:46] lochel commented on #1014
I just updated the OMSimulator submodule in the OpenModelica super-project.

[2021-04-27 05:59] max-privato opened #1017 "String connector - Issue when tables are involved"
### Description

When I create an fmu with OM, and then insert it into a brand new ssp, I should not have errors. I created a MWE involving tables which, instead, shows an error. I cannot be sure if it is an FMU creating or importing issue.

### Steps to reproduce the behavior
1. Load TestTable.mo in OMEdit
2. create an FMU from it
3. load the just-created FMU in a new ssp (Model-exchange)
4. The

[2021-04-27 06:05] max-privato commented on #1015
Yes, with dev-242 the infinite loop and crash  are gone.

[2021-04-27 06:05] #1015 closed

[2021-04-27 06:50] max-privato commented on #1013
Thank you all for the answers.
I see that what we met is a Dymola issue. I'll get Dassault involved, quoting also  modelica/fmi-standard#1420.

For OMS, in these cases,  there are two options: either reject with an error or default the zero vaues to 1.0 with a warning.

OM has chosen as a general rule  to be very strigtly standard compliant, and I totally agree with this position.
However, there i

[2021-04-27 07:05] lochel commented on #1013
Thanks for your thoughts. I want OMSimulator to be strictly standard compliant. However, we can introduce a flag which changes the behavior to a warning with a default 1.0 nominal value. What do you think?

[2021-04-27 07:16] lochel commented on #1017
Thanks for the report. The FMU looks fine. `Modelica.Blocks.Tables.CombiTable1D` exposes the two parameters of type string (fileName and tableName) even if they are not used.
OMSimulator doesn't support string signals yet. Therefore, we give the error messages and ignore those connectors. The model should work fine as long as you do not want to excess those connectors.

We can keep this issue open

[2021-04-27 09:34] lochel commented on #1014
@max-privato is this issue fixed?

[2021-04-27 09:35] lochel commented on #1011
This is fixed with #1012.

[2021-04-27 09:35] #1011 closed

[2021-04-27 09:36] lochel commented on #1008
@max-privato this issue has been fixed as far as I can tell. Can you confirm, please?

[2021-04-27 10:31] max-privato commented on #1017
what is strange is that the message mentions Error and writes it in red.
I was induced to think that the SSP was not correctly loaded and executed.
Maybe it can be changed into a warning saying something similar to what you said, e.g. that the connections are ignored and the model should work as long as these strings are not used?

[2021-04-27 12:01] max-privato commented on #1013
It would be perfect for me!

[2021-04-27 12:36] max-privato commented on #1014
I checked today with 1.18.0-dev-242.

The message has changed into the following one:

fmi2ModelExchange, setting toleranceDefined to fmi2False
error:   [initialize] TestSSP.Root.turbina: nominal[0]=0.000000 not greater than zero.
error:   [initialize] TestSSP.Root.turbina: nominal[1]=0.000000 not greater than zero.
error:   [initialize] TestSSP.Root.turbina: nominal[2]=0.000000 not greater than z

[2021-04-28 17:08] max-privato commented on #1014
The issue is still there, but I've found a much simpler example to show it. Therefore I'm closing this ticket and opening a new one.

[2021-04-28 17:08] #1014 closed

[2021-04-28 17:17] max-privato opened #1020 "Renaming an FMU inside an SSP messes things up"
### Description

I hve an SSP with two FMUS, which runs well. If I rename one of the two FMUs it does not rune anymore.
### Steps to reproduce the behavior
1) load TestTurbine.ssp in OMEdit
2) Run it : OK
3) Double-click on Turb and change its name into Turbine
4) Run again: error
(requires --zeroNominal=true with 1.18.0-dev larger than 239)

### Expected behavior
Renaming should not change the be

[2021-04-28 17:58] arun3688 commented on #1020
@max-privato I tested your example and everything works for me, I cannot reproduce the error, I renamed the component several times and it works for me.  See the screenshot below

### Initial screenshot without name change
![image](https://user-images.githubusercontent.com/6870949/116450017-169fe500-a85b-11eb-96ef-0bae98e13a08.png)

### After changing the component name Turb to Turbine_1
![image](

[2021-04-29 06:09] max-privato commented on #1013
I've tested this morning with dev-247 and it works well.
Thank you!
I'm going to close this ticket.

[2021-04-29 06:09] #1013 closed

[2021-04-29 07:15] max-privato opened #1021 "Unclear issue with SSP"
### Description

OMEdit reports an unclear error message with a simpleSSP

### Steps to reproduce the behavior
1) load TestTurbina.ssp
2) run it in OMEdit.

the following errors are shown:
error:   [setReal] Unknown signal "TestTurbina.Root.Turbina.Turbina."
error:   [instantiate] Failed to set start value for Turbina.
which I cannot understand.

I must add that I got this yesterday, and saved the

[2021-04-29 07:51] arun3688 commented on #1021
@max-privato I tested your above attachment and  it works for me, I cannot reproduce the error. From the error message i find that there is no such variable `Turbina` in the `Fmu` .  But you are getting that error for some unknown reason. See the screenshot below

![image](https://user-images.githubusercontent.com/6870949/116518251-4d641280-a8d0-11eb-869e-5c92dc601c07.png)

[2021-04-29 09:45] max-privato commented on #1008
Yes it is fixed!
Thanks a lot for fixing this (and the many tickets I'm opening on SSP...)

[2021-04-29 09:45] #1008 closed

[2021-04-29 09:51] max-privato commented on #1017
I have checked this this morning with OM 1.18.0-dev-247 and the issue seems to have gone.
Have you fixed this?
For me the ticket can be closed.
Thanks!

[2021-04-29 14:39] lochel commented on #1017
No, I didn't fix it and I don't think it actually is. We'll keep it open and fix it properly :)

[2021-04-29 18:52] max-privato commented on #1021
That's wierd. Maybe we didn't use exactly the same version? I confirm mine is OM 1.18.0-dev247; win 10 64 bit.
There are not many options for SSP. I  enclose the one I used these evening, that sould be the default ones (Screen2.png)
I enclose also the error message (screen1.png).
However, this ticket is not critical for me. I reported it mainly to contribute to the program development and debug. I

[2021-04-30 20:03] max-privato commented on #1020
Wierd. I confirm my outcome with 1.18.0-dev-247, win10. I enclose a video. and the latest screen

https://user-images.githubusercontent.com/37046832/116748316-936bc400-a9ff-11eb-979a-cfeaca9a96f4.mp4

![Img](https://user-images.githubusercontent.com/37046832/116748489-d4fc6f00-a9ff-11eb-8bd6-c8d1593ecbda.png)

[2021-05-03 06:27] max-privato opened #1022 "Moving a model changes connections in a very bad way"
### Description

In this example, if I move a model, connections are updated in a very bad way.

### Steps to reproduce the behavior
Load TestConnections.ssp (from the enclosed zip) and open TestConnections. The visual aspect of the ssp is as in screen1.png
Click on the "right" model and move it up with one up-arrow click. The picture is now as in screen2.png. As you can see, the connections are c

[2021-05-03 07:10] arun3688 commented on #1020
@adeas31 Can you test the above ssp file, I cannot reproduce the error in my machine

[2021-05-03 10:52] adeas31 commented on #1020
I got the same error message as reported by @max-privato

![image](https://user-images.githubusercontent.com/4007231/116868015-4dd11600-ac0e-11eb-8e16-349edeec502d.png)

[2021-05-04 11:01] arun3688 commented on #1020
@max-privato Hi massimo, I confirm that i can reproduce the error and we found the bug and fixed it. The above PR #1023 should fix the issue and we will let you know once this is merged with OpenModelica master and you can test it.

[2021-05-04 11:20] arun3688 commented on #1021
@max-privato, the issue is related with the previous issue you reported #1020, when you renamed the fmu from "turb" to "tubina" the parameter set in the ssp got garbage value `Turbina.` which is not part of the fmu something like below

[code]
So if you remove this parameter in the ssp it would work again, But the other PR #1023 should fix this bug, i have attached the corrected ssp.  You can test

[2021-05-04 15:04] arun3688 commented on #1020
@max-privato The fix is pushed to OpenModelica master, You can test it from OpenModelica nightly builds from tomorrow.

[2021-05-04 18:24] max-privato opened #1024 "OM 32 bit crashes with 32 bit SSP"
### Description

I have a simpleSSP created composing two FMUs created with OM 1.18.0-dev247-32 bit. Therefore it is a 32 bit application.

With OM 1.18.0-dev247-64 bit
it says, rather correctly (but I think the message should be improved saying explicitly that a 64-bit OM cannot run 32-bit FMUs):

pk0070xl\temp\0004_Turb\binaries\win64\
error:   [fmiLogger] module FMILIB: The FMU contains no bina

[2021-05-04 18:42] max-privato opened #1025 "OM 32 bit crashes with 64 bit SSP"
### Description

This is companion to #1024, but not sure it refers to the same issue.

In this case, an SSP containing 64 bit FMUs, even if should not run with OM 32 bit, it should not crash, which is indeed what it does.
The enclosed SSP runs very fine with 1.18.0-dev-247-64 bit, crashes with 1.18.0-dev-247-32 bit.
I need to use 32 bit, because I must produce for a contract 32 bit FMUs, and, obv

[2021-05-05 19:38] max-privato commented on #1020
Thanks you!
Tomorrow I'll try.

[2021-05-05 20:10] max-privato commented on #1021
Ok, thank you.
Tomorrow I'll try this and #1020.
I hope to close both!

[2021-05-06 06:12] max-privato commented on #1020
Just checked, and works fine.
Thank you!

[2021-05-06 06:12] max-privato commented on #1020
Just checked, and works fine.
Thank you!

[2021-05-06 06:12] #1020 closed

[2021-05-06 06:17] max-privato commented on #1021
Aha!
Now everything is clear. I'm going to close this as well.
Thank you.

[2021-05-06 06:17] #1021 closed

[2021-05-19 16:23] adrpo opened #1027 "Missing DLLs on Windows via pip install"
### Description

Only OMSimulator.dll and omtlmsimulator.dll are installed in:
python\lib\site-packages\OMSimulator\
Is missing:
libxml2.dll, pthreadVC2.dll, boost_filesystem-vc141-mt-1_64.dll, boost_system-vc141-mt-1_64.dll

### Steps to reproduce the behavior

/path/to/windows/python -m pip install OMSimulator
[code]

Run any python script using OMSimulator:
[code]

Finding out which dll is miss

[2021-05-20 10:53] adrpo commented on #1027
I managed to get the dlls from an older version, no problem for me to run the stuff. I just think the pip stuff should contain everything needed.

[2021-05-20 11:16] arun3688 commented on #1027
@adrpo the pip `setup.py` currently looks for the dlls in only `lib/OMSimulator` folder and that is the problem, and I guess now only the dlls starting with  "OMSimulatorXXX.dll" is copied to "lib/OMSimuator" , This commit https://github.com/OpenModelica/OMSimulator/commit/ac94aaf7fbf3ba4b081f21f91367cbd6bf4e9bde does that and it fails to copy the boost and other dependant dlls needed for windows

[2021-06-04 16:32] jph-tavella commented on #913
Maybe could be attached to future OMSimulator work plan being defined between EDF & OSMC?

[2021-06-04 16:56] robha67 commented on #942
Yes. Mm to m, g to kg, etc. The units expressed in an ssv could maybe be compared to the corresponding unit in the modelDescription via an ssm file

@lochel @arun3688

[2021-06-04 17:00] robha67 commented on #824
Sorry for the late response but I believe it works perfectly

[2021-06-07 10:59] arun3688 commented on #951
@robha67 The first part is fixed updating the template file with this commit https://github.com/OpenModelica/OMSimulator/commit/0722da6addaa025a85bb2588ade25ae232caa68d, you can test it

[2021-06-10 09:28] AlanHascoet-Hack opened #1031 "Crash after adding submodel using OMSimulator on API Qt"
### Description

When adding an FMU submodel of Dymola / modelica in the Qt API, the program crashes without any errors or indications. I opened the debugger and it says: "Unauthorized exception at 0x000007feccb3040 in Project_type_FMU.exe: 0xC0000005: Access violation while reading location 0xffffffffffffffff"

The same program with other FMUs works fine so I don't see where the problem comes fro

[2021-06-10 10:01] adeas31 commented on #1031
As you mentioned the program works fine with other FMUs so this is something related to a specific FMU. In that case please attach the FMU so we can debug more.

[2021-06-16 23:38] #856 closed

[2021-06-16 23:38] #901 closed

[2021-06-16 23:38] #735 closed

[2021-06-16 23:38] #872 closed

[2021-06-16 23:38] #865 closed

[2021-06-16 23:38] #949 closed

[2021-06-16 23:38] #889 closed

[2021-06-16 23:38] #739 closed

[2021-06-16 23:38] #994 closed

[2021-06-16 23:38] #1000 closed

[2021-06-17 12:17] Golan44 opened #1037 "Crash at model instantiation using OMSimulator and ExternData on API Qt"
### Description

I am currently updating a Dymola project of mine so it can read data (real scalars and arrays) from an XML file using ExternData. Then the idea is to export it as a FMU and call it in a Qt API using OMSimulator.

It all works out fine if I am only trying to read real scalars from the XML. But if I am trying to read real arrays from it, the model instantiation fails in OMSimulator.

[2021-07-05 12:34] AnHeuermann commented on #789
@adrpo You said there should be some other way to get around the file name limit with std. I guess we can discuss this in this ticket.

[2021-07-05 15:44] AnHeuermann opened #1039 "Insufficient event location detection"
### Description

Looking at some FMUs from the FMI Cross Check there are a lot of examples where events are not hit sufficiently precise. If I remember it correctly OMSimulator does an event iteration directly after a step triggered an state event indicator (zero crossing) to change. Time events should be fine.

For state events the event handling must be improved.
In OpenModelica there is a bisec

[2021-07-06 08:35] adrpo commented on #789
I have some code and I need to do some testing to see if it works fine with the latest clang and gcc we have in OMDev.

[2021-07-06 09:24] AnHeuermann commented on #1039
After discussing with @lochel we want to have some sort of flag that can flip between the old and some new approach on event detection. It could be that some use-cases for FMU simulation want's to do the event iteration only after the given step and not at the event location.

I would suggest to use a bisection method for root finding: It is easy to implement, very reliable and has a descent conve

[2021-07-06 09:32] AnHeuermann opened #1041 "Reupload FMI Cross Check results for OMSimulator v2.1.1"
### Description

Because of https://github.com/OpenModelica/OMSimulator/issues/789 and very long path names in the FMI-Cross-Check [a lot of FMUs](https://github.com/modelica/fmi-cross-check/tree/master/results/2.0/me/win64/OMSimulator/v2.1.1) could not be simulated with the current test script. By changing the script a bit to use shorter FMU names we should get a more realistic result for OMSimul

[2021-07-10 15:59] lochel commented on #1041
All the failures due to too long file names are gone. Now it is just a matter of re-generating the results for the old version 2.1.1.

[2021-07-11 13:20] lochel commented on #1022
Thanks for providing your feedback. The instructions are clear and I can reproduce the issue. @adeas31 can you have a look at this, as the problem actually comes from within OMEdit.

[2021-07-11 13:29] lochel commented on #1024
I run your example with OMSimulator-mingw32-v2.1.1.post100-g788a7d4 and got the following error message:
![image](https://user-images.githubusercontent.com/8457302/125197099-ad761e00-e25c-11eb-9218-95c113fefe00.png)

[2021-07-12 09:04] adrpo commented on #1024
That dll should be delivered with OMSimulator as it depends on it, no?

[code]

[2021-07-12 09:24] lochel commented on #1024
Yes 👍 they must be included and I think @arun3688 is working ont it.

[2021-07-12 10:00] adrpo commented on #1024
I guess you could also compile OMSimulator statically on Windows to remove any dll dependency (well besides the libomtlmsimulator.dll).

[2021-07-12 13:13] arun3688 commented on #1024
I guess the `libstdc++6.dll ` is not needed for `mingw32` versions

[code]

[2021-07-14 07:36] arun3688 commented on #1027
This issue is fixed with this commit https://github.com/OpenModelica/OMSimulator/commit/9b56534e274d0a3e28863b92e79443ad86f151d4

[2021-07-14 07:36] #1027 closed

[2021-07-14 10:26] lochel commented on #1024
@max-privato Sorry that it took us so long, but I think it is fixed now. Please reopen the issue if you still have problems.

[2021-07-14 10:26] #1024 closed

[2021-07-19 00:59] wangshuaijia opened #1071 "om3D仿真问题"
想请问社区的工程师们，om的3D仿真的背后的原理是什么，如果我目前已有3D仿真结果文件，我该如何在om里进行3D仿真

[2021-07-19 03:51] #1071 closed

[2021-07-29 13:12] #1041 closed

[2021-07-29 14:27] lochel commented on #1037
I tried to reproduce the issue, but it just works fine for me:

This is using co-simulation:
[code]

And this is using model exchange:
[code]

However, I didn't use identical libs and OS:
* OpenModelica for FMI export
* linux64
* Automatically loaded package ExternData 2.5.0 due to uses annotation.
* Composant3 requested package Modelica of version 3.2.2. Modelica 3.2.3 is used instead which state

[2021-08-02 15:38] kosmylo opened #1077 "Recommended way to install OMSimulator on Windows"
I tried to install OMSimulator through anaconda, but I got the following error:

[code]
Is there a recommended way to install it on windows?

[2021-08-02 15:58] lochel commented on #1077
You should first install 'requests' and then OMSimulator. @arun3688 I guess we should include it in the setup as dependency.

[2021-08-03 11:32] arun3688 commented on #1077
@lochel , OMSimulator does not have any dependencies, but the `setup.py` file is dependant on `requests` package to fetch the artifacts, So we need to check for `requests` package installed or not when running the `setup.py` and install it if not found, otherwise the users have to install the `requests` package by themselves

[2021-08-22 18:42] arun3688 commented on #824
the issue is fixed

[2021-08-22 18:42] #824 closed

[2021-08-25 07:12] lochel commented on #1077
@kosmylo is the issue solved for you?

[2021-08-25 07:16] kosmylo commented on #1077
Yes, I was able to install it successfully.

[2021-08-25 07:16] #1077 closed

[2021-09-06 20:32] #1031 closed

[2021-09-08 08:16] AnHeuermann commented on #900
I'm going to update it today.

[2021-09-08 08:57] lochel commented on #900
Thanks @AnHeuermann!

[2021-09-10 08:16] AnHeuermann commented on #900
The changes are now life in the [OMSimulator User's Guide](https://openmodelica.org/doc/OMSimulator/master/html/OMEdit.html#), but not the OpenModelica User's Guide yet. But they will synchronize when the OMSimulator sub-repo is updated in OpenModelica/OpenModelica.

[2021-09-10 08:16] #900 closed

[2021-09-16 00:35] #1022 closed

[2021-10-28 14:03] Arinomo opened #1092 "Install OMSimulator as Python package offline"
**Describe the solution you'd like**
As the title said, when dowloading OMSimulator from pypi.org, install using pip --no-index failed.
I asume because in the setup.py there is a request to download the zip file. Is there any possibility to install OMSimulator without internet connection?

[2021-11-11 07:19] olivleno opened #1094 "SSP model exchange between OMSimulator and easySSP fails"
### Description

I tried to build a simple SSP model in OMSimulator and easySSP by exxcellent solutions and exchange it either way.

### Steps to reproduce the behavior

Create model in OMSimulator.
Save as SSP.
Import in easySSP: Validation failed error

Create model in easySSP.
Save as SSP.
Open in OMSimulator: [3] 08:04:07 Scripting Error
[NewModel] "Root-System" is not a valid ident

Not clear

[2021-11-11 11:38] arun3688 commented on #1094
@olivleno Currently `OMSimulator` does not import `ssp` from other tools due to  internal `oms_solver`  information needed in `<oms:Annotations>` , given below.

[code]
We are currently working on this issue, to import `SSP` from all tool vendors, But the reverse should be possible export an `ssp` from `OMSimulator`  and it should be imported in other tools, we checked our exported `ssp` with `eas

[2021-11-11 12:13] olivleno commented on #1094
Ok good to know. Latest version refers to the nightly build I guess.
Thanks for the feedback. Will try it someday later then.

[2021-11-11 12:13] #1094 closed

[2021-11-11 13:34] lochel commented on #1094
You can simply test it using the python package (pip install OMSimulator) if you don't want to mess with your OpenModelica installation.

[2021-11-16 14:43] robha67 opened #1095 "Add *.ssm file as newResource to existing SSP"
I have tried to use the python API function "oms.newResources("newResources.root:root.ssv")" to add a new ssm file. I get the following error when I try to add the file

"file extension for....must be ".ssv", no other formats are supported"

Is there some other API function for adding ssm files or is this a feature that needs to be added?

OMSimulator version: "v2.1.1.post125-g0a8710d-linux"

@aru

[2021-11-16 15:13] arun3688 commented on #1095
@robha67 , Currently we support only adding ".ssv" files using `oms_newResources` API,  We do not support adding ".ssm" files using `oms_newResources`, But you can use  `oms_addResources` API to add an external `.ssv or .ssm` files to an existing SSP something like below

`oms_addResources("addExternalResources", "../../resources/externalRoot.ssv")
`

[2021-11-16 15:22] robha67 commented on #1095
That works perfectly. Thank you.

[2021-11-16 15:22] #1095 closed

[2021-11-16 15:45] robha67 opened #1096 "SSM reference does not appear in SSD when using the oms.referenceResources API command"
I have added SSV and SSM files to an existing SSP via the following

oms.addResources("model.root","Conf1.ssv")
oms.addResources("model.root","Model_Conf1.ssm")

I then try to "activate" the ssv and ssm files using

oms.referenceResources("model.root:Conf1.ssv", "Model_Conf1.ssm")

This appears as succesfull as I have gotten no Error messages. I then export a new SSP using

oms.export("model","*.s

[2021-11-16 16:54] arun3688 commented on #1096
@robha67 can you send the python script, so that i can see the problem

[2021-11-17 06:39] robha67 commented on #1096
@arun3688 I will email you the python script. Thanks

[2021-11-17 23:37] arun3688 commented on #1096
@robha67 I could able to reproduce the issue with the test case you provided and it was a small bug in the code. This PR #1098 should fix the issue. Thanks @robha67  for testing and reporting the issue

[2021-11-19 11:51] arun3688 commented on #1096
@robha67 The PR is merged into master, You can start testing

[2021-11-19 13:01] robha67 commented on #1096
Perfect. I will test the functionality as soon as possible

[2021-11-22 15:03] AnHeuermann opened #1099 "Compiler flags like CC and CFLAGS are ignored"
### Description

I can't build OMEdit with debug symbols and without copiler optimization, because OMSimulator has some troubles with `CFLAGS="-g -O0`.

### Steps to reproduce the behavior

Clone the OpenModelica super project, go into `path/to/OpenModelica` and run

[code]
The complete [log  build_omsimulator.log](https://github.com/OpenModelica/OMSimulator/files/7582104/build_omsimulator.log)

R

[2021-11-22 15:09] AnHeuermann commented on #1099
Somewhere an additional `-O2` is added, see `clang++ -g -O0 -std=c++11 -fPIC -DUSE_THREADS -g -O0 -O2 -I. -I../3rdParty/misc/include -I../3rdParty/rtime  -I../../3rdParty/libxml2/install/linux/include/libxml2 -c SurrogateTimer.cc -o LINUX64/SurrogateTimer.o`

[2021-12-01 12:25] AnHeuermann opened #1101 "Building OMSimulator from OpenModelica master project broken on Windows."
### Description

Building OMSimulator from the super Project OpenModelica/OpenModelica doesn't work on Windows (OMDev + mingw64).

### Steps to reproduce the behavior

[code]

[code]

### Expected behavior

Compile all the things.

### Version and OS

- Version:
  - OpenModelica at 14546fe3d955fab7d2b2ff93f9a5b746c8fc31fe
  - OpenModelica/OMSimulator at 4c7059bbd55b6bd0fa2870375390a44222056074
  -

[2021-12-01 12:33] AnHeuermann commented on #1101
Changing

[code]

to
[code]

seems to solve it.

[2021-12-01 12:35] sjoelund commented on #1101
https://github.com/OpenModelica/OMTLMSimulator/pull/130

You'll need to ifdef Windows/Linux

[2021-12-01 12:35] sjoelund commented on #1101
And I suppose it should be `sizeof(char)` if you change it as well

[2021-12-01 12:48] AnHeuermann commented on #1101
Why must everything be different on Windows and Linux 😭
But thanks for the hint. I'll make it
[code]

[2021-12-08 09:08] AnHeuermann commented on #1099
While debugging #1101 I build OMSimulator as stand-alone project and got the error from above. So the problem has nothing to do with the super project or the CFLAGS="-g -O0".

On this machine I have `CC=clang` and `CXX=clang++` defined in my environment.

Running
[code]

I can see in `config-3rdParty.log` that `gcc` is used to compile some things. That is defined in https://github.com/OpenModelica

[2021-12-08 10:04] AnHeuermann commented on #1099
https://github.com/OpenModelica/OMSimulator-3rdParty/pull/48 doesn't solve the segmentation fault, but undefining `CC` and `CXX` does.
So I guess the root of the problem is somewhere else.

[2021-12-10 15:00] #1101 closed

[2022-01-09 11:48] arun3688 commented on #951
@robha67 this is fixed, i am closing this issue you can reopen if you find some problems

[2022-01-09 11:48] #951 closed

[2022-01-09 14:08] #1017 closed

[2022-01-09 14:08] #1037 closed

[2022-01-10 09:57] robha67 commented on #1096
The functionality works perfectly on my use-case. Thank you!

[2022-01-10 09:57] #1096 closed

[2022-01-24 08:23] robha67 opened #1112 "Sub-stepping CS-FMUs"
**Is your feature request related to a problem? Please describe.**
Increase execution speed by means of not limiting the communication interval by the shortest required length

**Describe the solution you'd like**
Functionality to individually set communication intervals of composite models constituent FMUs.

[2022-01-24 13:26] AnHeuermann opened #1113 "Endless loop cvode error test failed"
### Description

I'm running the example from https://github.com/OpenModelica/OMTeaching/tree/master/Tutorials/MODPROD21/Tutorial2/Solutions/DualMassOscillator for a weakly connected system of FMUs and did run into a endless loop.

### Steps to reproduce the behavior

Download [DualMassOscillator.System1.fmu](https://github.com/OpenModelica/OMTeaching/blob/master/Tutorials/MODPROD21/Tutorial2/Solu

[2022-01-24 13:36] AnHeuermann commented on #1113
It seems the culprit is
[code]

[2022-01-25 08:46] robha67 opened #1114 "String parameter support"
Functionality enabling the specification of string parameters in FMUs

[2022-01-25 08:54] lochel commented on #1114
Thanks for the request, @robha67. Just to clarify: you want have support for `fmi2SetString`, right?

[2022-01-25 10:58] robha67 commented on #1114
Yes, I believe that that is what I want :) I do not have such an FMU yet but I am working on it

[2022-03-02 09:29] bilderbuchi opened #1126 "Python object-oriented API lacks Model.stepUntil()"
### Description
According to the [docs](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/omsimulator.html#omsimulatorpython), OMSimulatorPython offers also an object-oriented API. This is great because it feels a _little_ more pythonic to use.

The methods in the `Model` class has simulation control methods that mirror [these](https://github.com/OpenModelica/OMSimulator/blob/d92d4ff0

[2022-03-02 11:43] lochel commented on #1126
This is fixed and there is now a new pypi package with version number 2.1.1.post146 available.

[2022-03-02 11:43] #1126 closed

[2022-03-02 11:48] bilderbuchi commented on #1126
Wow, thanks for the quick fix!

[2022-03-03 19:13] lochel commented on #1114
@robha67 It is now implemented. This is an example of how to get/set string parameters: [str_hello_world.py](https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/simulation/str_hello_world.py)

[2022-03-07 10:58] tarasborov opened #1137 "C API Windows"
I have installed an OpenModelica with shipped OMSimualor. Now, I am going to use C API to run OMSimulator from C++ code. Unfortunately, the OMSimulator can not be found in CMakeLists.txt file included in my custom package: find_package(OMSimulator REQUIRED)

- Version: OpenModelica v1.18.1 (64-bit) Connected to OMSimulator v2.1.1.post80-glbf17f4-mingw
- OS: Win10, 64bit

[2022-03-07 11:19] lochel commented on #1137
@mahge, can you comment on this one?

[2022-03-07 11:54] mahge commented on #1137
I am not sure if I understood correctly. You have installed OpenModelica and want CMake to find it the same way it finds boost, for example. Is this correct?

CMake itself does not know about OpenModelica in that way. You would have to tell CMake where to find OpenModelica files explicitly. You can do this by writing a custom `FindOpenModelica.cmake` file if you want. Same procedure if you want to

[2022-03-08 09:30] tarasborov commented on #1137
Thank you for your explanation. It helped.

[2022-03-08 09:30] #1137 closed

[2022-03-08 11:05] bilderbuchi opened #1138 "Cannot update variable start value in instantiated state"
### Description
It does not seem to be possible to set the value of a state variable in an instantiated fmu.

The [docstring ](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/omsimulator.html#id143)of `setReal` (Python API) says:

It seems that contrary to that, in the state after instantiation and before initialization, this is currently broken, as I can't seem to set values.
Also

[2022-03-10 06:40] lochel commented on #1138
Thanks @bilderbuchi, I can reproduce the issue and will now look into it.

[2022-03-14 08:15] arun3688 commented on #1138
@bilderbuchi, the problem is not related with `OMSimulator`, but rather related to `OpenModelica `fmi-export, we did some testing and found that OMSimulator works correctly on Dymola generated fmus where we can do `setReal` on state vars. We will now investigate our `OpenModelica` fmi-export.

[2022-03-14 09:08] bilderbuchi commented on #1138
Thanks for the update!

[2022-03-15 09:46] Fredrik1Haider opened #1141 "setUnit function"
Hi!

Currently converting .fmu to an .ssp and this requires some edits to the .ssv file which I export using the OMS api. In addition to changing the value (by setReal) it would be neat if I could also add a unit type (meters, seconds etc.). Currently, I export the .ssv and then using the python etree.xml package go through it and add the units where applicable, however if I could edit the values

[2022-03-15 09:58] Fredrik1Haider opened #1142 "clarification cref, OMS html doc"
As someone who just started using OMSimulator, I initially found it a bit confusing what "cref" represented and how to use it, when looking in the OMSimulatorPython html doc. It would be really neat with a short explanation of what it is etc. at the start of the doc.

[2022-03-15 10:44] lochel commented on #1142
Thanks for the feedback. We will make some changes to the documentation based on your suggestion.

[2022-03-15 10:56] lochel commented on #1141
@Fredrik1Haider, I think we can do two things to improve units in OMSimulator:

- [ ] fetch unit information from the modelDescription file if nothing else is specified
- [ ] add a function oms_setUnit(<cref>, <unit>) to override the unit information in the ssv file

[2022-03-15 11:08] arun3688 commented on #1138
@bilderbuchi the issue is fixed with this PR https://github.com/OpenModelica/OpenModelica/pull/8696, You can test it from the nightly builds tomorrow(16-03-2022)

[2022-03-15 11:20] bilderbuchi commented on #1138
Thanks, I will!

[2022-03-15 11:23] #1114 closed

[2022-03-15 11:32] Fredrik1Haider commented on #1141
@lochel  Sounds perfect!

[2022-03-16 12:37] bilderbuchi commented on #1138
Confirmed fixed, thank you!

[2022-03-16 12:37] #1138 closed

[2022-03-19 00:09] arun3688 commented on #1141
@Fredrik1Haider The feature is implemented now with this commit  https://github.com/OpenModelica/OMSimulator/commit/f92c2ae0e3f4c0d13c9819af3d63c3126876b883 , an
 example of how to set the units is available here https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/api/setUnits3.py

[2022-03-19 08:53] lochel commented on #1141
I just updated the pip package: OMSimulator 2.1.1.post157 contains the changes mentioned by @arun3688.

[2022-03-22 12:14] #1141 closed

[2022-03-29 06:50] robha67 opened #1146 "Support of nested SSPs"
### TODO

- [ ] @robha67 make a manual example of a nested SSP

[2022-04-04 07:32] robha67 opened #1147 "Empty source in SSD"
Prepare to allow for reference to "incomplete" or empty sources (FMUs) in SSD.
With incomplete I mean, for example, an FMU without binaries only containing a ModelDescription file. If such an FMU is referenced, there should be a warning communicated to the user

[2022-04-06 11:39] arun3688 commented on #942
@robha67 We are starting to work on this issue,  it would be good if you can provide some examples or inputs to the unit conversion

[2022-04-06 11:58] robha67 commented on #942
Hmm, I don't have an example ready for use but I can fix something simple.

[2022-04-06 12:25] robha67 commented on #942
Ok, so now I rememeber the origin of this feature request. In the [embrace_TwoConf] test case, the lengths in the SSV are originally expressed in mm instead of m. So, replacing rows 1543 to 1545 with something like

<ssv:Parameter name="part_feedLineRadar.parameterSet_outputParameters.parameter_pipeLengthTotalFL">
      <ssv:Real unit="[mm]" value="4614.34420887414"/>
</ssv:Parameter>

would repro

[2022-04-06 13:05] arun3688 commented on #942
@robha67 I guess the unit `mm` should be converted to `m` when connecting to fmu parameters , this is what you mean or do you specifying some other thing

[2022-04-06 13:30] robha67 commented on #942
@arun3688 You are correct, that is exactly what I mean.

[2022-04-07 15:33] Fredrik1Haider opened #1151 "ssm from exportSSMTemplate, not recogized as ssm"
### Description

The SSM exported from exportSSMTemplate is not recognized as an ssm file, when added back to an oms model using addResource()

### Steps to reproduce the behavior

A model is initialized with the ECS_HW.fmu (Embrace)

[code]

exports the following file:

[code]

note that what is supposed to be **ssm** is exported as **ns0**
the exported ssm, is read using the python lib xml.ETree

[2022-04-17 13:34] jph-tavella commented on #913
@lochel: on 26 Feb 2021 you commented these stats would be useful. Do you have any target date for delivering them in the tools?

[2022-04-18 18:41] #1025 closed

[2022-04-19 11:41] Fredrik1Haider opened #1153 "Variable names in results file, gets an whitespace added"
### Steps to reproduce the behavior

Reading the results file (an .csv) with python pandas.read_csv, the variable names contain an additional whitespace and quotation marks in front on the name, comes out as:

`'" model.root.anVariable"'`

Thus, requiring "filtering" to make it consistent with naming in ssm etc.

### Expected behavior

Comes out as:
`'model.root.anVariable'`

### Version and OS

-

[2022-04-26 05:38] arun3688 commented on #1151
@Fredrik1Haider  I cannot reproduce the issue, for me it is working correctly as expected, see the following test example where the ssm template files are exported correctly https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/simulation/exportSSMTemplate.py,
when adding the ssm file using `addResources()` API see the following example
https://github.com/OpenModelica/OMSimulator/blob/

[2022-04-27 22:18] #1099 closed

[2022-04-27 22:18] #1092 closed

[2022-04-27 22:18] #1112 closed

[2022-04-27 22:18] #1113 closed

[2022-05-02 06:51] Fredrik1Haider commented on #1151
huh, odd the issue does not appear with the example code you provided. I will have to dig a bit deeper and see if I can figure out what the cause is for my code...

[2022-05-03 12:37] robha67 opened #1159 "API to Reduce SSVs"
API command to generate a reduced SSV file. The use-case https://github.com/OpenModelica/OMSimulator/tree/master/testsuite/resources/embrace_TwoConf/resources
has two SSV files with many unused entries.  The idea is to create an SSV that only contains the parameters that are referenced in the SSM. So, something along the line

omsReduceSSV(ECS_Conf1.ssv, ECS_HW.ssm, "NameOfReduced".ssv)

Mvh
Rober

[2022-05-06 03:40] arun3688 commented on #1153
@Fredrik1Haider the issue is fixed with this commit https://github.com/OpenModelica/OMSimulator/commit/86bee651f7eebbc1db55a0f6521edcc34478ee21, please test it

[2022-05-12 03:51] arun3688 commented on #942
@robha67 , The automatic unit conversion is implemented now with this commit https://github.com/OpenModelica/OMSimulator/commit/427452105ac5721dbeb47a3aa0bd323b837f96ac, We did some testing with small examples see here https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/simulation/checkUnits.lua which have the following connections

[code]
The fmus are generated with the following re

[2022-05-12 04:51] robha67 commented on #942
@arun3688 Great news!! I will test on our examples as soon as possible

[2022-05-12 12:08] Fredrik1Haider commented on #1153
@arun3688 tested and works as requested, thank you!

[2022-05-12 12:09] #1153 closed

[2022-05-13 10:10] arun3688 commented on #1159
@robha67 , the API is implemented with this commit https://github.com/OpenModelica/OMSimulator/commit/aa5efa48258ee83910e1b512f54abf675fd8e126. An example test case of how to use the API is available here https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/api/reduceSSV.py, You can test the feature

[2022-05-16 09:14] robha67 opened #1161 "Simulation of FMUs requiring licenses"
1) Export FMU that requires license to execute, from for example dymola without source code generation licence or with altair romAI block. The latter is what we have tried that does not work
2) Set environment variable pointing to local license file
3) Simulate FMU in OMSimulator

This seems not to work, I don't know if it is related to the unpacking of FMUs in omsimulator. The FMU:s are re-named

[2022-05-25 06:56] Fredrik1Haider commented on #1151
@arun3688 the underlying issue has been identified and is NOT related to OMS, this issue may be closed.

[2022-05-25 06:56] #1151 closed

[2022-06-07 12:12] arun3688 commented on #942
@robha67 We are closing this issue right now, please reopen it if you find problems

[2022-06-07 12:12] #942 closed

[2022-06-07 12:23] arun3688 commented on #1161
@robha67 could you provide an example fmu for such cases so we can reproduce the issue

[2022-06-07 12:23] arun3688 commented on #1159
@robha67 Please reopen if you find problems

[2022-06-07 12:54] arun3688 commented on #1147
@robha67 offcourse we could improve the error messages, but we have reasonable error message already available see below

[code]

[2022-06-07 13:00] robha67 commented on #1161
I could update the EMBrACE SSP that is in the testsuite but it will only be possible to re-produce the issue if you have a local license file available on your computer. The error stems from an FMU export of the Altair tool Activate but I suspect that a Dymola FMU would produce the same problem if exported without the code generation licence. Do you have a Dymola licence available?

@arun3688

[2022-06-07 13:06] robha67 commented on #1147
Yes but I mean that it should be possible to create an incomplete SSD that can be read in, for example, an architecting tool. So the SSD should be created even though the FMU is missing.

[2022-06-07 19:07] lochel commented on #1147
You can import an fmu as long as the model description is available. That's because we need to know the inputs/outputs to create the architecture model. The binaries are only needed for simulation purpose.
It seems that this is already working, or did you encounter a problem/bug that we are not aware of? 😊

[2022-06-07 19:17] arun3688 commented on #1147
@robha67 what is an incomplete `SSD`, could you give an example

[2022-06-08 06:25] robha67 commented on #1147
If what @lochel states above works then I believe that I am almost happy. Incomplete SSD is not what I meant :) It should read incomplete SSP. I guess the remaining part of the use-case would be to create a "complete" SSD file only based on the oms.addConnection statments. Let's say that one of the fmus (binary and ModelDescription) does not exist yet but you still want to express the composite mo

[2022-06-10 16:34] arun3688 commented on #913
WIP

[2022-06-17 09:26] arun3688 opened #1169 "Architecture modelling in OMSimulator"
**Is your feature request related to a problem? Please describe.**

 It should be possible to import an partial fmu with only modeldescription.xml consisting of variables with inputs and outputs and parameters etc.. and make connections with other fmus. And later develop this partial fmu to a working fmu and then integrate the working fmu in the ssp without losing the connections and other datas I

[2022-06-17 09:30] arun3688 commented on #1169
@robha67  Hi robert we are working on architectural modelling in `OMSimulator` and me and lennart had some discussion and decided to implement this feature, You can add your suggestion if you have anything needs to be implemented in this feature

[2022-06-17 09:43] robha67 commented on #1169
Hi! Can the three of us take a brief meeting regarding this, possibly next week? Virtually or IRL does not matter for me

[2022-06-17 09:48] arun3688 commented on #1169
@robha67 Lennart is in holidays, but i am available and we can decide the timings in email and if lennart is free he can join, otherwise we can have the meeting by ourselves

[2022-06-29 20:45] Matthias776 opened #1171 "AttributeError: 'OMSimulator' object has no attribute 'getSubModelPath'"
`AttributeError: 'OMSimulator' object has no attribute 'getSubModelPath'`

is raised when using

`path, status = oms.getSubModelPath("component")`

in Python

- Version:
Name: OMSimulator
Version: 2.1.1.post125
Summary: OMSimulator - the FMI-based co-simulation environment for Python
Home-page: http://openmodelica.org/
Author: Open Source Modelica Consortium (OSMC)
Author-email: openmodelicadevelo

[2022-06-29 21:12] arun3688 commented on #1171
@Matthias776 The API is not exported to Python interface, This is an internal API

[2022-07-01 13:24] arun3688 opened #1172 "exportSSVTemplate() does not export template files for fmu's inside subsystem"
### Description

The API `exportSSVTemplate()` works only on the top level system and its component and it does not work on the subsystem and its components, Also the `exportSSVTemplate()` API does not update the start values in the template file when setting new start values in ssv resources,  but it works well with inline parameter settings.

### Steps to reproduce the behavior for exportSSVtemp

[2022-07-11 07:08] robha67 commented on #1159
I cannot find any discription of this function in the OMSimulator user guide @arun3688

[2022-07-11 07:44] robha67 commented on #1159
@arun3688 Great, thanks.

[2022-09-05 12:39] Fredrik1Haider opened #1184 "Logfile not closed after terminating simulation?"
### Description

When appending data to the logfile generated by `OMS.setLogFile`, the appended text gets cutoff suggesting the file has not been closed properly after terminating the simulation, i.e. the file writing buffer is still open.

### Steps to reproduce the behavior

[code]

in resulting file parts of `additional_info` is missing.

### Version and OS

- Version: [`OMSimulator from 2022-0

[2022-10-21 15:31] bbocap opened #1188 "SSB - Signal Dictionary support?"
Hi!

I'd like to create a Signal Dictionary to support models' evolution and configuration. I can't find any example of ssb file on the SSP standard support or through OMSimulator documentation
Is the standard feature available with the tools? If so, do you have any example or hints to help use this standard feature?

[2022-11-23 09:47] sashkapl opened #1194 "replaceSubmodel6.py throws errors"
### Description

I am working with a few fmu models and I am searching for possibilities to replace sub Models in ssp file. I am not able to contain connections between differently named interfaces (x connected to y)

### Steps to reproduce the behavior

You have the same errors in the example python code  **replaceSubmodel6.py**

### Expected behavior

Ability to replace the model with keeping th

[2022-11-23 09:59] arun3688 commented on #1194
@sashkapl that is the expected output for `replaceSubmodel6.py` because in the replacing fmu there is no variable `dummy` if you look into the example there are two connection before replacing

[code]
then we are replacing the `A.fmu` with `replaceA_extended` and replaceA_extended  does not contain dummy variable and it will be deleted , but retaining the connection` A.y ->B.u`

[2022-11-23 10:14] arun3688 commented on #1194
@sashkapl i see that `oms.addConnection("model.root.Gain.u","model.root.sin.y")` is ACausal (i.e)` input -> output`, Which should not be a problem here, But can you please change the connection to  something like below

`oms.addConnection("model.root.sin.y", "model.root.Gain.u") `

and test the code, I think this should retain the connection, Could you please test it

[2022-11-23 10:23] sashkapl commented on #1194
Code:
[code]

Error:
[code]

Interfaces in openModelica Gui:

![image](https://user-images.githubusercontent.com/73839356/203522796-d132fc4b-a685-4695-b1f7-c542a955353a.png)

[2022-11-23 10:51] arun3688 commented on #1194
@sashkapl That is the expected output, Because you are replacing `Sine.fmu` with `Gain2_wronginterface.fmu`  and `Gain_2_wrongInterface.fmu` does not contain signal `y`  and it has signal `y_output` and when you are replacing the connection looks like this  `A.y_output -> B.u` which does not exist and hence you can see the error message

`warning: deleting connection "A.y ==> B.u", as signal "y" c

[2022-11-23 10:55] sashkapl commented on #1194
My mistake, should be
`oms.replaceSubModel("model.root.B", "Gain_2_wrongInterface.fmu", False)` where B is gain

Same code with updated line:

[2022-11-23 18:42] arun3688 commented on #1194
@sashkapl see the example here where the connections are retained similar to your example https://github.com/OpenModelica/OMSimulator/blob/master/testsuite/simulation/replaceSubmodel11.py

[2022-11-24 09:14] sashkapl commented on #1194
@arun3688 thank you for your fast responses, I am not able to upload anything from my work PC, I will create same files via my private PC (as they are only for test purpose) and upload here

[2022-11-24 09:22] sashkapl commented on #1194
I will run test again with this files and your code

[FmusSSP.zip](https://github.com/OpenModelica/OMSimulator/files/10082954/FmusSSP.zip)

![image](https://user-images.githubusercontent.com/73839356/203745734-d7ea9030-14de-4a3b-a7dc-8c924fae1227.png)

[2022-11-24 10:00] arun3688 commented on #1194
@sashkapl I ran the ssp file provided by you and it works for me without any issues and the connections are retained

[code]

Output , connections are retained

[code]

I guess there is some other issue, My OMSimulator version is

[code]

[2022-11-24 10:04] sashkapl commented on #1194
Version: OMSimulator v2.1.1.post159-g606161d-mingw

I can reinstall it, is there any other option to test this function?

[2022-11-24 10:06] arun3688 commented on #1194
@sashkapl I guess it is old for the functionality, you should update the OMSimulator to current master and test it and then it should work

[2022-11-25 10:45] sashkapl commented on #1194
OMSimulator v2.1.1.post159-g606161d-mingw

Same code, same files, same error
I will ask my colleagues to repeat it

[2022-11-25 10:52] arun3688 commented on #1194
@sashkapl Your version is old, Please do a git pull on the OMSimulator and run the tests, the version should be
` OMSimulator v2.1.1.post190-g4390f41-mingw`

[2022-11-25 10:56] sashkapl commented on #1194
I can only use this version, as it is latest with pip installation (I retrieve it via artifactory of my organization) maybe this is the issue

[2022-11-25 11:29] arun3688 commented on #1194
@sashkapl it is true that pip package is not updated, but you can clone from the repository and build it as OMSimulator is a stand alone package

[2022-11-25 16:26] arun3688 commented on #1194
@sashkapl , You can download the latest artifacts from` https://build.openmodelica.org/omsimulator/nightly/ `according to your platform, And also we have updated our pip package to latest master.

[2022-11-28 14:14] sashkapl commented on #1194
@arun3688, thank you for updating pip, I see it but I am not able to update my own package as it is not passing our companies artifactory (need to be updated I assume), once I will be able to update my pip version I will come back to you